* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

#nav_bar {
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar {
  background-image: linear-gradient(to bottom, #821767, #821767);
  /* background-image: linear-gradient(to right, #a517ba, #5f1782); */
  padding: 0 !important;
}
.navbar-brand img {
  height: 60px;
  padding-left: 20px;
}
.collapse {
  justify-content: end;
  padding-right: 40px;
}

.navbar-nav li a {
  margin-right: 3em;
  font-weight: 600;
  opacity: 0.7;
}
.navbar-nav li a:hover {
  opacity: 1;
  /* color: rgb(43, 161, 216) !important; */
}
.navbar-toggler-icon {
  font-size: 30px;
}
.navbar-toggler {
  outline: none !important;
}
/* <!-- ///////////////////////////////Banner section //////////////////// --> */

.banner {
  background-image: linear-gradient(to right, #ba1791, #821767);
  color: #fff;
  padding-top: 5%;
}
.banner .row {
  margin-bottom: 3em;
}
.paly_icon {
  height: 5rem;
  padding-top: 0.9em;
  margin-right: 2em;
  opacity: 0.5;
  transition: 0.5s;
}
.paly_icon:hover {
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.banner a {
  text-decoration: none;
  color: #fff;
}
.img_fluid1 {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 100%;
}
.wave_img {
  width: 100%;
}
.banner .join_me {
  /* padding-top: 5em; */
  /* padding-left: 4em; */
  align-items: center;
}
.banner .join_me .btn1 {
  background-color: #3e044d;
}
.banner .btn2 {
  margin-top: 2em;
  width: 8.6em;
}
/* //////////////////////////////.service section.///////////////// */
.service .row {
  background-image: url(../images/service_section.jpg);
  background-position: top;

  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px,
    rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px,
    rgba(240, 46, 170, 0.05) 0px 25px;
}

.service_img {
  margin-top: 3em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: inherit;
  height: inherit;
}
.col-md-4 h4 {
  margin-top: 0.5em;
  padding: 0.4em;
  text-align: center;
}
.about_title::before {
  content: "";
  background: #7b1798;
  height: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(63px);
}

.about_title::after {
  content: "";
  background: #4b0f5a;
  height: 10px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  display: block;
  transform: translateY(8px);
}

.btn_purple {
  box-shadow: none;
  padding: 8px 25px;
  border: none;
  border-radius: 10px;
  background-image: linear-gradient(to right, #5c3653, #811f69);
  width: 200px;
  margin-top: 2em;
  margin-bottom: 2em;
}

/* <!-- ///////////////////////////////About me section //////////////////// --> */
.about_me {
  /* background-image: url(../images/aaabout_me_bg.png); */
  background-image: linear-gradient(to top, #ebacdb, #ffffff);
}
.about_me h1 {
  margin-top: 1em;
}
.about_me h3,
h2 {
  font-family: "Audiowide", "sans-serif";
}
.about_me ul {
  /* font-family: "Audiowide", "sans-serif"; */
  margin-top: 1em;
  line-height: 2em;
  font-size: 1.4em;
}
.network-img {
  width: 100%;
}

/* <!-- ///////////////////////////////About me section //////////////////// --> */
.skills .col-md-6 {
  margin-bottom: 2em;
}
.skills_head {
  text-align: center;
  background-image: linear-gradient(to bottom, #ebacdb, #f1d4ef);
  height: 4rem;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}

.frontEnd_row {
  background-image: linear-gradient(to bottom, #f1d4ef, #e4e1da);
}
.frontEnd_row .col-md-6 {
  /* height: inherit; */
}
/* .frontEnd_row .skills_col {
  width: 4em;
} */

.frontEnd_row .skills_col img {
  width: 3em;
  height: 4em;
  margin-top: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid rgb(116, 69, 126);
  border-radius: 1em;
}

.frontEnd_row .skills_col {
  /* width:inherit;
   height:inherit; */
  padding-left: 1.3em;
}
.frontEnd_row h2 {
  display: flex;
  justify-content: center;
}

/* <!-- ///////////////////////////////contact section //////////////////// --> */

.contact .container_fluid {
  /* background-image: url(../images/cont_bg.jpg); */
  background-image: linear-gradient(to bottom ,#e4e1da, #ffffff );
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.text-center {
  padding-top: 1.7em;
}
.contact .row {
  margin: 0 !important;
}
.contact_row {
  margin-bottom: 1em;

}
/* #Contact_form .contact_row2{
  padding-left: 8em;
} */
.contact .map_view {
  width: 100%;
  border: 0.2em solid rgb(48, 46, 46);
  border-radius: 1em;
}

.contact_form input {
  margin-bottom: 0.8em;
  width: 100%;
  height: 2.5em;
  border:1px solid plum  ;
  border-radius: .5em;
}
.contact button {
  width: 10em;
  height: 2em;
  border:2px solid rgb(0, 153, 255);
  border-radius: .5em;
  background-color: #3e044d;

}

/* <!-- ///////////////////////////////footer section //////////////////// --> */

.footer {
  background-image: linear-gradient(to right, #ba1791, #821767);
}
.footer-img {
  width: 100%;
}
/* .footer_logo{
  width:9em;
} */
.footer_box {
  padding: em;
}
.footer_box .footer_logo {
  width: 7rem;
}
.footer .fa-solid {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  font-size: 1.2em;
  margin-right: 0.7em;
}
.social_media a {
  text-decoration: none;
}
.fa-brands {
  margin-right: 1em;
}
.box_social_media {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 0.2em;
}
.social_media a :hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  color: black;
  transition: 0.2s;
}
